* {
    margin: 0px;
    background-image: url("img/kkk.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

.quadrado{
    width: 550px;
    height: 380px;
    background-color:mediumpurple; 
    position: absolute; right: 1300px;
    position: absolute; top: 450px;
    border-radius: 10px;
}


body{
    overflow-y: scroll;
    height: 5000px;
}

.container{
    background: darkviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 70px;
    justify-content: center;
    background:darkviolet
}

a{
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 0.5rem 1rem;
    transition: color 0.25s;
    background:darkviolet;
    font-family: Arial, Helvetica, sans-serif;
}

a::after{
    position: absolute;
    content: "";
    inset: 0;
    background: white;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

a:hover{
    color: black;
}

a:hover::after{
    scale: 1 1;
}

h1{
    color:ghostwhite;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 70px;
    font-size: 70px;
}

.Texto{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 60px;
}